@model DepartmentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>
<br />
<br />

<form asp-action="Edit" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="PartialView/CreateEditDepartmentPartialView" />

    <input type="submit" value="Save Change" class="btn btn-primary" />
    <a asp-action="Index" asp-controller="Department" class="btn btn-light">Back To List</a>


</form>


@section Validation {

    <partial name="_ValidationScriptsPartial" />


}