@model RoleViewModel 






<br /><div class="form-group">
    <label asp-for=RoleName class="col-form-lable">Name</label>
    <input asp-for="RoleName" class="form-control" />
    <span asp-validation-for="RoleName" class="text-danger"></span>

</div>

<br />





