@model RoleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Role</h1>
<br />
<br />

<form asp-action="Create">

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="RolesPartialViews/EditCreateRolePartialView" model="Model" />

    <input type="submit" value="Save Changes" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>



</form>

@section Validation {

    <partial name="_ValidationScriptsPartial" />


}

