@model RoleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role</h1>
<br />
<br />

<form asp-action="Edit">

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="RolesPartialViews/EditCreateRolePartialView" model="Model" />

    <a asp-action="AddOrRemoveUsers" asp-route-roleId="@Model.Id" class="btn btn-success">Add Or Remove User</a>



    <input type="submit" value="Save Changes" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>



</form>

@section Validation {

    <partial name="_ValidationScriptsPartial" />


}

