@model EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<br />
<br />

<form asp-action="Edit"  enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="PartialViews/EditCreateEmployeePartialView" model="Model" />

    <input asp-for="ImageName" hidden />


    <input type="submit" value="Save Changes" class="btn btn-primary" />
    <a asp-action="Index" asp-controller="Employees" class="btn btn-light">Back To List</a>



</form>

@section Validation {

    <partial name="_ValidationScriptsPartial" />


}

